dfn {
    margin-right: 2px;
    font: normal 12px Arial;
}
.base_price {
    color: #F60;
    font: normal 18px Tahoma;
}
.sel_con_btn {
    width: 100px;
    height: 30px;
    float: left;
    margin-left: 10px;
    background: url(http://img3.tieyou.com/images/sprites_btn.gif) 0 -250px;
    border: 0;
    cursor: pointer;
    display: inline;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 3px;
    text-align: center;
}
#searchList{
    padding-left:50px;
}
.hc_th li, .searchList li {
    float: left;
    list-style: none;
    margin-right: 10px;
}
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* 防止水平滚动条 */
    overflow-x: hidden;
  }
  /* IE 6 不支持 max-height
   * 我们使用 height 代替，但是这会强制菜单总是显示为那个高度
   */
  * html .ui-autocomplete {
    height: 300px;
  }
 .navbar-inverse {
    background-color: #015CAC;
    border-color: #080808;
}
  .search {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
 .main2 {
            background: #F1F1EF;
            padding-bottom: 35px;
            overflow: hidden;
 }
.hc_th {
            height: 28px;
            padding: 0 50px;
            background: #F1F1EF;
            border-top: 1px solid #E6E6E4;
            line-height: 28px;
            overflow: hidden;
}

 .hc_th li,.searchList li {
                float: left;
                list-style: none;
            }

.w95, .lst_time, .lst_no {
    width: 95px;
}
.lst_place{
    margin-left:20px;
}
.w90, .lst_place, .lst_duration {
    width: 90px;
}

.w135, .lst_btn {
    width: 135px;
}

.lst_seat {
    width: 195px;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

.trainItem {
    border-bottom: 1px solid #E6E6E6;
}
    .trainItem ul {
        padding: 5px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }
    .trainItem li {
        float: left;
        list-style: none;
        display: inline-block;
    }
trainItem {
    height: 20px;
    min-height: 20px;
    width: 500px;
    padding: 10px;
}
:root .bt_book {
    border-bottom: 1px solid #D4551A;
}
.bt_book {
    background: #EE842E;
    border: none;
    color: #fff;
    cursor: pointer;
}
:root .btn_orage {
    border-bottom: 1px solid #D4551A;
}
.sl_btn {
    width: 100px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 7px;
}
.btn_orage {
    background: #EE842E;
    border: none;
    color: #fff;
    cursor: pointer;
}
/*.jzxs{
    width: 40px;
    display: inline-block;
    text-align: justify;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
}*/