body {
}
.w1180 {
    min-width: 980px;
    max-width: 1180px;
    width: 100%;
    _width: 980px;
    margin: 0 auto;
    position: relative;
    padding-right:320px; 
    float:left;
}
.carinfo,.passenger {
    min-height: 42px;
    margin-bottom: 10px;
    padding-left:10px;
    border: 1px solid #D7E8F5;
       
}
.carinfo h3{
    float:left;
    margin-top:5px;
    font: 16px/34px "Microsoft Yahei", Tahoma, Arial, sans-serif;
    color: #666;
}
.ticket,.p_info{
    background-color:#eff6fc;
    margin-left:80px;
    border-left: 1px solid #D7E8F5;
}
.text_right{
    text-align:right;
}
.station {
    font-size: 18px;
    display: block;
    color: #333;
    font-weight: bold;
}
.text_center{
    text-align:center;
}
.line_arrow {
    width: 173px;
    height: 25px;
    background: url(http://pic.c-ctrip.com/train/R1/book_tickets.png) no-repeat 0 0;
    display: inline-block;
}
.wt_ticket {
    border-left: 1px solid #D7E8F5;
    padding: 15px 20px;
    background: #fff;
    font-size: 14px;
    color: #333;
    margin-left:80px;
}
dfn {
    margin-right: 2px;
    font: normal 12px Arial;
}
.base_price {
    color: #F60;
    font: normal 18px Tahoma;
}
.passenger h3{
    float:left;
    margin-top:5px;
    font: 16px/34px "Microsoft Yahei", Tahoma, Arial, sans-serif;
    color: #666;
}
.single_passenger {
    margin-bottom: 15px;
    padding: 15px;
    border-top: 1px solid #C8D9EF;
    background-color: #EFF6FC;
    z-index: 2;
}
.title {
    display: inline-block;
    color: #666;
    margin: 0 20px 10px 0;
}
.input_text {
    height: 23px;
    padding: 3px 5px;
    line-height: 16px;
    vertical-align: middle;
    border: 1px solid #BBB;
    background-color: #FFF;
}
.tb_form th {
    width: 60px;
    padding-right: 10px;
    font-weight: normal;
    text-align: right;
    line-height: 20px;
    line-height: 22px\9;
    color: #666;
    font-size: 12px;
}
.tb_form th, .tb_form td {
    padding-bottom: 10px;
}
.dropdown {
    display: inline-block;
    width: 142px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}
a {
    color: #06C;
    text-decoration: none;
    outline: none;
}
.pop_bd a {
    padding: 2px 5px;
}
.options a {
    display: block;
}
a:focus {
    outline: none;
}
a:hover {
    cursor: pointer;
    background-color:cornflowerblue;
}
.dropdown .current {
    display: inline-block;
    position: relative;
    width: 130px;
    height: 23px;
    padding: 3px 5px;
    line-height: 16px;
    border: 1px solid #BBB;
    background-color: #FFF;
    color: #333;
}
.selectList, ul {
    list-style: none;
}
.dropdown .options {
    position: absolute;
    width: 318px;
    margin-top: -1px;
    border: 1px solid #CCC;
    border-top: 0 none;
    background-color: #FFF;
    z-index: 10;
}
.pop_title {
    display: block;
    padding: 5px 10px 5px 15px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    background-color: #F1F1F1;
    overflow: hidden;
}
.pop_bd li {
    padding: 3px 0;
    border-bottom: 1px dashed #CCC;
}
.btn_add_p {
    display: inline-block;
    width: 129px;
    _width: 109px;
    height: 36px;
    _padding-left: 20px;
    font: 14px/36px "Microsoft Yahei", Simsun, sans-serif;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    color: #333;
    background-color: #FFF;
    box-shadow: 0 1px 0 rgba(95, 50, 0, 0.5);
}
.form_field {
    min-height: 32px;
    _height: 32px;
    padding: 15px;
    background-color: #eff6fc;
}
.form_field:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
}
.tickets_way_tab {
    border-right: 1px solid #D7E8F5;
    margin: -15px 0 10px 70px;
    float: left;
    display: inline;
}
.tickets_way_tab li {
    border-left: 1px solid #D7E8F5;
    border-bottom: 1px solid #D7E8F5;
    padding: 0 30px;
    height: 38px;
    float: left;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    position: relative;
}
.btn_check {
    background-color: #ffb000;
    border: 1px solid #E77C00;
}
.btn_check, .btn_check_disable {
    display: inline-block;
    height: 36px;
    margin: 0 auto;
    padding: 0 30px;
    border: 1px solid #E77C00;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(95,50,0,0.7);
    vertical-align: middle;
    font: bold 16px/36px Simsun, sans-serif;
    color: #fff;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}
.side_box {
    float: right;
    width: 300px;
    margin-left: -300px;
}
.price_box {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #F0E9D6;
    background-color: #FFFAED;
}
.side_package {
    padding: 15px 15px 0;
    border: 1px solid #DDD;
    background-color: #FFF;
}
.mtop10 {
    margin-top: 10px;
}
.side_package li {
    margin-bottom: 15px;
    line-height: 20px;
    position: relative;
    font-size: 14px;
}
side_package li.current .icon_checkbox {
    background-position: 0 -15px;
}
.side_package li .icon_checkbox {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 5px 0 0;
    background: url(http://pic.c-ctrip.com/train/railway_v2/icon_checkbox.png) no-repeat;
}
.price_detail_list {
    position: relative;
    height: 9px;
    margin-bottom: 15px;
    border-bottom: 1px dotted #CCC;
}
.price_detail_list p {
    float: left;
    _position: absolute;
    _float: none;
    padding: 0 5px;
    background-color: #FFFAED;
}
.price_box .basefix .float_right {
    margin-top: -6px;
}
.float_right {
    float: right;
}
.basefix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
}
.price_box strong {
    padding: 0 5px;
    font-size: 14px;
}
strong, b {
    font-weight: bold;
}
.basefix {
    margin-top:25px;
}
.btn_box {
    position: relative;
    margin-bottom: 15px;
    _height: 37px;
}
.check-tit {
    font-size: 18px;
    font-weight: 600;
}
.pay_btn_box{
    text-align: center;
}
#homes::after{
    clear: both;
    content: '';
    display: block;
}